<!DOCTYPE html>

<html>

<head>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
    @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Oswald);
    body{
        padding: 50px 0;
    }
    .status {
        font-family: 'Source Sans Pro', sans-serif;
    }
    .status .panel-title {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        color: rgb(65, 177, 50);
        line-height: 45px;
        padding-top: 20px;
        letter-spacing: -0.8px;
    }
</style>
</head>

<body>
    <center>
        <h1 class="display-1">Don't look up!!!</h1>
        <h2 class="display-2">{{content['name']}} is comming</h1>
    </center>
<div class="container">
            
    <div class="row">
        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center"><a href={{content['nasa_jpl_url']}} target="_nasa">JPL</a></h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>NASA info page</strong>
                </div>
            </div>
        </div>          

        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['close_approach_data'][0]['close_approach_date_full']}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Date of shortest tangent</strong>
                </div>
            </div>
        </div>          

        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['close_approach_data'][0]['miss_distance']['kilometers'] | int}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Minimum Distance to earth in kilometers</strong>
                </div>
            </div>
        </div>          

        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['close_approach_data'][0]['relative_velocity']['kilometers_per_hour'] | int}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Speed in km/h</strong>
                </div>
            </div>
        </div>          
    </div>




    <div class="row">
        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['absolute_magnitude_h']}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Magnitude</strong>
                </div>
            </div>
        </div>          

        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['estimated_diameter']['meters']['estimated_diameter_min'] | int}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Diameter Minimum in Meters</strong>
                </div>
            </div>
        </div>          

        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['estimated_diameter']['meters']['estimated_diameter_max'] | int}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Diameter Maximum in Meters</strong>
                </div>
            </div>
        </div>          

        <div class="col-xs-6 col-md-3">           
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{content['close_approach_data'][0]['orbiting_body']}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Orbiting Body</strong>
                </div>
            </div>
        </div>          
    </div>
    <hr>
    <center>Data is based on open data from NASA JPL data from <a href="https://api.nasa.gov" target="_nasa">api.nasa.gov</a>. More Citizen Science Projects can be found at <a href="https://www.23-5.eu" target="_cs">23-5.eu</a></center>
</div>

</body>
</html>